{
  "vendor": "SREBSCO",
  "cancellationRestriction": true,
  "cancellationRestrictionNote": "CANCELLATIONS NOT ACCEPTED DURING A SUBSCRIPTION PERIOD ONCE FULFILLMENT HAS BEGUN",
  "unitPrice": 467.0,
  "currency": "USD",
  "vendorReferenceNumbers": [
    {
      "refNumber": "123445",
      "refNumberType": "Vendor continuation reference number"
    }
  ],
  "poLineNumber": "10008-1",
  "subscriptionToDate": "2021-01-01T00:00:00.000+00:00",
  "subscriptionFromDate": "2021-01-01T00:00:00.000+00:00",
  "quantity": 1,
  "fundCode": "HIST",
  "publisherName": "BRILL",
  "vendorAccountNumber": "BR6569501",
  "workflowStatus": "Open"
}
